* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 800px) {
  .navbar {
    width: 100vw;
    height: 100px;
    background-color: #6f7302;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
  }
  .navbar .navbar__inputbox {
    width: 60vw;
    height: 100%;
    margin-right: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .navbar .navbar__inputbox .navbar__input {
    width: 80%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 24px;
  }
  .navbar .navbar__inputbox .navbar__input:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  .navbar .navbar__inputbox .navbar__button {
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    border-radius: 25px;
    letter-spacing: 3px;
    font-weight: 700;
    transition: 0.4s;
  }
  .navbar .navbar__inputbox .navbar__button:hover {
    background-color: rgb(255, 255, 255);
  }
  .navbar .menu {
    display: none;
    background-color: aqua;
    width: 75vw;
  }
  .navbar .menu .menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 20vw;
         column-gap: 20vw;
  }
  .navbar .menu-hamburger {
    position: absolute;
    display: block;
    width: 150px;
    height: 100px;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
  }
  .navbar .menu-hamburger .menu__hamburger {
    background-color: #384001;
    border-radius: 10px;
    width: 75px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .menu-hamburger .menu__hamburger:nth-child(1) {
    top: 25%;
  }
  .navbar .menu-hamburger .menu__hamburger:nth-child(3) {
    top: 75%;
  }
  .navbar .menu-hamburger--active .menu__hamburger:nth-child(1) {
    transform: translate(-50%, 200%) rotate(45deg);
    background-color: red;
  }
  .navbar .menu-hamburger--active .menu__hamburger:nth-child(2) {
    display: none;
  }
  .navbar .menu-hamburger--active .menu__hamburger:nth-child(3) {
    transform: translate(-50%, -300%) rotate(-45deg);
    background-color: red;
  }
  .popping-menu {
    width: 100vw;
    height: 89vh;
    background-color: rgba(62, 62, 62, 0.9);
    color: white;
    display: none;
    position: absolute;
    align-items: right;
    flex-direction: column;
    text-align: right;
    font-size: 36px;
    right: -150%;
    transition: 0.4s;
  }
  .popping-menu .popping-menu__list {
    list-style-type: none;
    margin-top: 100px;
    margin-right: 100px;
  }
  .popping-menu .popping-menu__list .popping-menu__item {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
  }
  .popping-menu--active {
    right: 0;
  }
}
@media only screen and (min-width: 801px) {
  .navbar {
    width: 100vw;
    height: 100px;
    background-color: #6f7302;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
  }
  .navbar .navbar__inputbox {
    width: 60vw;
    height: 100%;
    margin-right: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .navbar .navbar__inputbox .navbar__input {
    width: 80%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 24px;
  }
  .navbar .navbar__inputbox .navbar__input:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
  }
  .navbar .navbar__inputbox .navbar__button {
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    border-radius: 25px;
    letter-spacing: 3px;
    font-weight: 700;
    transition: 0.4s;
  }
  .navbar .navbar__inputbox .navbar__button:hover {
    background-color: rgb(255, 255, 255);
  }
  .navbar .menu {
    display: flex;
    width: 65vw;
    height: 100%;
    margin-left: 2.5vw;
    margin-right: 5vw;
    align-items: center;
    justify-content: center;
  }
  .navbar .menu .menu__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    list-style-type: none;
  }
  .navbar .menu .menu__list .menu__item {
    width: 100%;
    height: 40px;
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .navbar .menu .menu__list .menu__item:nth-child(1) {
    background-color: rgba(255, 165, 0, 0.5);
  }
  .navbar .menu .menu__list .menu__item:nth-child(1):hover {
    background-color: orange;
  }
  .navbar .menu .menu__list .menu__item:nth-child(2) {
    background-color: rgba(0, 128, 0, 0.5);
  }
  .navbar .menu .menu__list .menu__item:nth-child(2):hover {
    background-color: green;
  }
  .navbar .menu .menu__list .menu__item:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.5);
  }
  .navbar .menu .menu__list .menu__item:nth-child(3):hover {
    background-color: red;
  }
  .popping-menu {
    display: none;
  }
  .popping-menu .popping-menu__list {
    display: none;
  }
  .popping-menu .popping-menu__list .popping-menu__item {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .main {
    width: 100vw;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(62, 62, 62, 0.3);
  }
  .main .main__active {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(255, 165, 0, 0.5);
  }
  .main .main__active .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
  .main .main__active .task:hover {
    background-color: rgba(62, 62, 62, 0.3);
  }
  .main .main__done {
    width: 90%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(0, 128, 0, 0.5);
  }
  .main .main__done .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
  .main .main__removed {
    width: 90%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .main .main__removed .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
}
@media only screen and (min-width: 801px) {
  .main {
    width: 100vw;
    height: 87.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(62, 62, 62, 0.3);
  }
  .main .main__active {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(255, 165, 0, 0.5);
  }
  .main .main__active .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
  .main .main__active .task:hover {
    background-color: rgba(62, 62, 62, 0.3);
  }
  .main .main__done {
    width: 90%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(0, 128, 0, 0.5);
  }
  .main .main__done .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
  .main .main__removed {
    width: 90%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .main .main__removed .task {
    width: 75%;
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(62, 62, 62, 0.2);
    border-radius: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .popup {
    position: absolute;
    width: 75vw;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.9);
    border: 3px dashed black;
    border-style: dashed;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .popup .popup__header {
    font-size: 28px;
  }
  .popup .popup__buttonbox {
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 15%;
         column-gap: 15%;
  }
  .popup .popup__buttonbox .popup__button {
    width: 40%;
    height: 30px;
    border: 2px solid black;
  }
  .popup .popup__buttonbox .popup__button:nth-child(1) {
    background-color: rgba(0, 255, 0, 0.5);
  }
  .popup .popup__buttonbox .popup__button:nth-child(1):hover {
    background-color: rgba(0, 255, 0, 0.8);
  }
  .popup .popup__buttonbox .popup__button:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.5);
  }
  .popup .popup__buttonbox .popup__button:nth-child(2):hover {
    background-color: rgba(255, 0, 0, 0.8);
  }
}
@media only screen and (min-width: 801px) {
  .popup {
    position: absolute;
    width: 40vw;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.9);
    border: 3px dashed black;
    border-style: dashed;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .popup .popup__header {
    font-size: 28px;
  }
  .popup .popup__buttonbox {
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 15%;
         column-gap: 15%;
  }
  .popup .popup__buttonbox .popup__button {
    width: 40%;
    height: 30px;
    border: 2px solid black;
  }
  .popup .popup__buttonbox .popup__button:nth-child(1) {
    background-color: rgba(0, 255, 0, 0.5);
  }
  .popup .popup__buttonbox .popup__button:nth-child(1):hover {
    background-color: rgba(0, 255, 0, 0.8);
  }
  .popup .popup__buttonbox .popup__button:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.5);
  }
  .popup .popup__buttonbox .popup__button:nth-child(2):hover {
    background-color: rgba(255, 0, 0, 0.8);
  }
}/*# sourceMappingURL=import.css.map */